.registration {
  display: flex;

  button {
    display: block;
    border: none;
    background: var(--gray-100);
    color: var(--blue-900);

    padding: 1rem;
    border-radius: 0.25rem;

    font-weight: bold;

    &:hover {
      background: var(--blue-100);
      color: var(--gray-100);
    }
  }

  form {
    .input {
      margin-bottom: 1rem;

      input {
        margin-top: .5rem;
      }
    }

    button {
      padding: .5rem;

      background: var(--blue-900);
      color: var(--gray-100);

      &:hover {
        background: var(--gray-100);
        color: var(--blue-100);
      }
    }
  }

  p {
    font-size: 5rem;
    margin-left: 5rem;
    align-self: center;
  }

  .sideButtons {
    margin-left: 5rem;
    align-self: center;
  }
}